#loading-screen {
  background-image: url("./images/gradient.svg"), url("./images/bg-grid-dark.svg");
  background-repeat: no-repeat, repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#initial-loading-logo {
  max-width: 200px;
}

.loading-progress-bar-container {
  width: 100%;
  height: 8px;
  margin-top: 20px;
  background-color: #374151;
  border-radius: 100px;
  overflow: hidden;
}

#loading-progress-bar {
  width: 0%;
  background: #0062d1;
  height: 100%;
  transition: width 5s ease-out;
}

#initial-loading-text {
  max-width: 140px;
  margin-top: 30px;
}
