body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #111827;
}

.fixed-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.screen {
  display: none;
}

.deepar {
  border: 0;
  background-color: #000;
  display: block;
  margin: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  max-width: 100%;
  max-height: 100%;
}
