.permission-denied-text-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.permission-denied-text {
  width: 400px;
  max-width: 95%;
  font-size: 16px;
  line-height: 1.2;
  color: #fff;
}

.permission-denied-button {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border: none;
  display: inline-block;
  text-decoration: none;
  width: fit-content;

  &:hover {
    background-color: #eaeaea;
  }
}
